//--Base copy styles


// Paragraph styles for Lead paragraph
.lead,
.lede
    calc-font-size($base-font-size * 1.5)
    line-height:@line-height * 1.25

// Footnotes
.footnote
    calc-font-size($base-font-size / 1.5)
    line-height:(@line-height / 1.25)
    margin-top:unit(($base-spacing / $base-font-size) * -1, rem)

//--> Quotes

$open-quote = '“'
$close-quote = '”'


q
    quotes:"‘" "’" $open-quote $close-quote
    &:before
        content:"‘"
        content:open-quote
    &:after
        content:"’"
        content:close-quote
    q:before
        content:"“"
        content:open-quote
    q:after
        content:"”"
        content:close-quote

blockquote
    quotes:$open-quote $close-quote
    p:before
        content:$open-quote
        content:open-quote
    p:after
        content:""
        content:no-close-quote
    p:last-of-type:after
        content:$close-quote
        content:close-quote
    q:before
        content:"‘"
        content:open-quote
    q:after
        content:"’"
        content:close-quote

blockquote
    text-indent:-0.41em
    
    p:last-of-type
        margin-bottom:0

.source
    display:block
    text-indent:0
    
    &:before
        content:"—"