//--> Headings

h1, .h-1
	calc-font-size($h1-size)

h2, .h-2
	calc-font-size($h2-size)

h3, .h-3
	calc-font-size($h3-size)

h4, .h-4
	calc-font-size($h4-size)

h5, .h-5
	calc-font-size($h5-size)

h6, .h-6
	calc-font-size($h6-size)

hgroup
	.h-0
		margin-bottom:0
