// --> Fluid images

img
    max-width:100%

// --> Fluid images

img[width],
img[height]
    max-width:none

.img-right
    float:right
    margin-bottom:$base-spacing
    margin-left:$base-spacing

.img-left
    float:left
    margin-right:$base-spacing
    margin-bottom:$base-spacing

.img-center
    display:block
    margin-right:auto
    margin-bottom:$base-spacing
    margin-left:auto

figure > img
    display:block
