/*------------------------------------*\
    !-LINKS
\*------------------------------------*/

a
    &:hover,
    &:active,
    &:focus
        text-decoration:none
        cursor: pointer

.current,
.current > a
    cursor:text
    text-decoration:none
