//--> build all the settings files

//debug grid
$debug-mode = false

//defaults
$border-box = true //applys border-box globally
$default-radius = 4px

// imports
@import 'colors'
@import 'grid'
@import 'type'
@import 'buttons'
@import 'forms'
