

//--> Theme Colors
$base-background-color = #fff
$base-font-color = #333
$default-border-color = #ccc
$overlay-color ?= rgba(0, 0, 0, 0.8)

//link colors
$primary-link-color ?= #ff6d2c

//alert colors
$success-color = green
$info-color = blue
$warning-color = yellow
$fail-color = red