//--> Grid Defaults
$totalcolumns ?= 12
$gutterwidth ?= unit(10, px)


//--> Setup and initialize breakpoints in the grid.
$small-break = unit(500, px)
$small-active = true

$medium-break = unit(768, px)
$medium-active = true

$large-break = unit(1005, px)
$large-active = true

$xlarge-break = unit(1300, px)
$xlarge-active = false