// @import fonts here


//--> Define fonts
$body-font = 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
$header-font = 'Trebuchet', Helvetica, Arial, 'Lucida Grande', sans-serif


//--> Base Vars for fonts and spacing functions
$base-font-size ?= 16
$base-line-height ?= 24

$base-spacing ?= unit($base-line-height, px)
$half-spacing ?= unit(($base-spacing / 2), px)
$large-spacing ?= unit(($base-spacing * 2), px)
$huge-spacing ?= unit(($base-spacing * 4), px)

$line-height-ratio ?= ($base-line-height / $base-font-size)


//--> Larger and smaller font adjustments
$biggest ?= 72
$bigger ?= 48
$big ?= 42

$smaller ?= 12
$tiny ?= 10
$micro ?= 8


//--> heading sizes
$h1-size ?= 36
$h2-size ?= 30
$h3-size ?= 24
$h4-size ?= 20
$h5-size ?= 16
$h6-size ?= 14