.block-list
    &,
    > li
        border:0 solid #ccc /* Override this color in your theme stylesheet */

.block-list
    list-style:none
    margin-left:0
    border-top-width:1px

    > li
        border-bottom-width:1px
        padding:$half-spacing-unit

        .block-list-link
            display:block
            padding:$half-spacing-unit
            margin: -($half-spacing-unit)


