/*------------------------------------*\
    !-COLUMNS
\*------------------------------------*/
/**
 * Here we can set elements in columns of text using CSS3, e.g.:
 *
   <p class=text-cols-2>
 *
 *
 */

.text-cols-2
	text-columns(2)
	text-gap(unit($base-spacing-unit, px))

.text-cols-3
	text-columns(3)
	text-gap(unit($base-spacing-unit, px))

.text-cols-4
	text-columns(4)
	text-gap(unit($base-spacing-unit, px))

.text-cols-5
	text-columns(5)
	text-gap(unit($base-spacing-unit, px))

.text-cols-6
	text-columns(6)
	text-gap(unit($base-spacing-unit, px))