/*------------------------------------*\
    !-FLYOUT
\*------------------------------------*/

.flyout,
.flyout-left
    position:relative
    overflow:hidden

.flyout-content
    position:absolute
    top:100%
    left:-99999px

.flyout:hover,
.flyout-left:hover
    overflow:visible
    cursor: pointer

.flyout:hover > .flyout-content
    left:0

.flyout-left:hover > .flyout-content
    top:0
    left:100%