/*------------------------------------*\
    !-GRID_OOCSS
\*------------------------------------*/

/**
 * Grid container block, use .block class on any grid row container. The Grid is based on a 12 column grid. Each grid will have two classes.
 * 
 */

.block
	margin:0
	// enables block class for list elements.
	list-style:none
	@extend .cf
	
	&.tiles
		margin-left:-10px
		margin-right:-10px

.block .block
	margin: 0px (-($gutterwidth))



/**
 * Global Column Class for the grid. Each column in the grid will need to be prefaced with class = "col"
 */

.col
	float:left
	padding:0 $gutterwidth

.col.right
	text-align: right

.col.left
	text-align: left

.col.center
	text-align: center
		

if $border-box == false
	.col
		vendor(box-sizing, border-box)

colWidth($colnumber)
	width: unit((100 / ($totalcolumns / $colnumber)), '%')

.block-rev
	.col
		float:right


/**
 * Grid Classes for mobile and small devices.
 */

if $small-active

	//unquote("@media screen and (max-width: " + $small-break + ") {")
	unquote("@media screen {")
  
	for grid in 1...($totalcolumns + 1)
		.small-{grid}
			colWidth(grid)

	unquote("}")


/**
 * Grid Classes for tablet and medium devices.
 */

if $medium-active

	unquote("@media screen and (min-width: " + $medium-break + ") {")
  
	for grid in 1...($totalcolumns + 1)
		.medium-{grid}
			colWidth(grid)

	unquote("}")

/**
 * Grid Classes for laptop and larger devices.
 */

if $large-active

	unquote("@media screen and (min-width: " + $large-break + ") {")
  
	for grid in 1...($totalcolumns + 1)
		.large-{grid}
			colWidth(grid)

	unquote("}")


/**
 * Grid Classes for large desktop monitors and larger screens.
 */

if $xlarge-active

	unquote("@media screen and (min-width: " + $xlarge-break + ") {")
  
	for grid in 1...($totalcolumns + 1)
		.xlarge-{grid}
			colWidth(grid)

	unquote("}")



