/*------------------------------------*\
    !-GRID_OOCSS
\*------------------------------------*/

/**
 * Grid container block, use .block class on any grid row container. The Grid is based on a 12 column grid. Each grid will have two classes.
 * 
 */

.block
	margin:0
	// enables block class for list elements.
	list-style:none
	@extend .cf

.block .block
	margin: 0px (-($gutterwidth))

/**
 * Global Column Class for the grid. Each column in the grid will need to be prefaced with class = "col"
 */

.col
	float:left
	padding:0 $gutterwidth

if $border-box == false
	.col
	  vendor(box-sizing, border-box)

/**
 * The following are the colum width classes. Accompany the col class i.e. class = "col one"
 */

colWidth($colnumber)
	width: unit((100 / ($totalcolumns / $colnumber)), '%')

for grid in 1...($totalcolumns + 1)
  .span-{grid}
    colWidth(grid)



