/*------------------------------------*\
    !-MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * 
 * This is a generic nestable module for images and text combinations.
 *
 */

.media
    display:block
    @extend .cf

    .media-img
        float:left
        margin-right:$base-spacing-unit
    
    /**
     * Reversed image location (right instead of left).
     */
    .media-img-rev
        float:right
        margin-left:$base-spacing-unit
    

        .media-img img,
        .media-img-rev img
            display:block
        

    .media-body
        overflow:hidden
    
        .media-body,
        .media-body > :last-child
            margin-bottom:0

    /**
     * `.img`s in `.islet`s need an appropriately sized margin.
     */
    .islet .media-img
        margin-right:$half-spacing-unit
    
    .islet .media-img-rev
        margin-left:$half-spacing-unit
    