/*------------------------------------*\
    !-NAV
\*------------------------------------*/
/**
 * Nav abstraction for horizontal list. Used for ol and ul elements.
 *
 */
.nav
  list-style:none
  @extend .cf
  margin-left:0
  > li
    &,
    > a
      display:inline-block
      *display:inline
      zoom:1

/**
 * Extend the .nav class and makes a stacked nav
 *
 */
.nav-stacked
  > li
      display:list-item
    > a
        display:block

.nav-banner
  text-align:center
  border-radius(3px)


.nav-block
  line-height:1
  letter-spacing:-0.31em
  word-spacing:-0.43em
  white-space:nowrap
  > li
    letter-spacing:normal
    word-spacing:normal
    > a
      padding:unit($half-spacing-unit, px)

.nav-fit
  display:table
  width:100%
  > li
    display:table-cell
    > a
      display:block
        
.nav-keywords

  > li

    &:after
      content:",  "
    
    &:last-child:after
      display:none

.nav-pipe

  > li

    &:after
      content:" | "

    &:last-child:after
      display:none

.nav-slash

  > li

    &:after
      content:" / "

    &:last-child:after
      display:none

.tbar
  font-size: 11px

  .welcome
    color: #fff
    padding-right: 15px
    color: #ccc
    display: inline-block

  a.tbutton
    color: #ccc
    padding: 2px 4px
    display: inline-block
    background: #43505f
    border-radius(4px)
    
    
    
        
    
