/*------------------------------------*\
    !-panels
\*------------------------------------*/

.panel,
.panel-min
    display:block
    @extend .cf

.panel
    padding:$base-spacing-unit

    .panel > :last-child,
    .panel-min > :last-child
        margin-bottom:0

/**
 * A island box with half the spacing unit. Make is smaller by using this class.
 */
.panel-min
    padding:$half-spacing-unit

.pan-center
	text-align:center
