

// small copy mods
.small
	calc-font-size($smaller)

.tiny
	calc-font-size($tiny)

.micro
	calc-font-size($micro)

//big copy mods
.big
	calc-font-size($big)

.bigger
	calc-font-size($bigger)

.biggest
	calc-font-size($biggest)
	

//-->  Text alignment overrides
.text-right
	text-align: right

.text-left
	text-align: left

.text-center
	text-align: center

// all caps
.caps
	text-transform:uppercase