colWidth($colnumber)
	width: unit((100 / ($totalcolumns / $colnumber)), '%')

//--> Grid Classes for mobile and small devices.

if $small-active

	unquote("@media screen {")
  
	for grid in 1...($totalcolumns + 1)
		.small-{grid}
			colWidth(grid)

	unquote("}")


//--> Medium / tablet devices.

if $medium-active

	unquote("@media screen and (min-width: " + $medium-break + ") {")
  
	for grid in 1...($totalcolumns + 1)
		.medium-{grid}
			colWidth(grid)

	unquote("}")
	

//--> Grid Classes for laptop and larger devices.

if $large-active

	unquote("@media screen and (min-width: " + $large-break + ") {")
  
	for grid in 1...($totalcolumns + 1)
		.large-{grid}
			colWidth(grid)

	unquote("}")


//--> Grid Classes for large desktop monitors and larger screens.

if $xlarge-active

	unquote("@media screen and (min-width: " + $xlarge-break + ") {")
  
	for grid in 1...($totalcolumns + 1)
		.xlarge-{grid}
			colWidth(grid)

	unquote("}")