/*------------------------------------*\
    !-COPYMODS
\*------------------------------------*/

/**
 * Classes to be applied to any element containing text you want to be smaller.
 * three sizes have been provided small, tiny, micro. Micro being the smallest.
 * Font sizes are controlled in the global settings file.
*/

.small
	calc-font-size($smaller)

.tiny
	calc-font-size($tiny)

.micro
	calc-font-size($micro)



/**
 * Classes to be applied to any element containing text you want to be larger.
 * three sizes have been provided big, bigger, bigest. 
 * Font sizes are controlled in the global settings file.
*/

.big
	calc-font-size($big)

.bigger
	calc-font-size($bigger)

.biggest
	calc-font-size($biggest)