/*------------------------------------*\
    !-LINKS
\*------------------------------------*/
/**
 * Base text link styles. 
 * et colors etc in your theme stylesheet.
 * 
 * Say no to negative hovers, as per: csswizardry.com/2011/05/on-negative-hovers
 *
 */

a
    &:hover,
    &:active,
    &:focus
        text-decoration:none
        //cursor: crosshair

/**
 * ‘Current’ states for text links.
 */

.current,
.current > a
    cursor:text
    text-decoration:none
