/*------------------------------------*\
    !-PARAGRAPHS
\*------------------------------------*/

.lead
    calc-font-size($base-font-size * 1.5)
    line-height:@line-height * 1.25

.footnote
    calc-font-size($base-font-size / 1.5)
    line-height:(@line-height / 1.25)
    margin-top:unit(($base-spacing-unit / $base-font-size) * -1, rem)