// alerts

.alert
    padding: .75em
    border: 1px solid transparent
    margin: .5em

    p
        font-size: 18px
        margin: 0

    &.success
        color: $success-color
        background-color: lighten($success-color, 30%)
        border-color: $success-color
    &.info
        color: $info-color
        background-color: lighten($info-color, 30%)
        border-color: $info-color
    &.warning
        color: $warning-color
        background-color: lighten($warning-color, 30%)
        border-color: $warning-color
    &.fail
        color: $fail-color
        background-color: lighten($fail-color, 30%)
        border-color: $fail-color