/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
 * Basic button sturcture.
 *
 */
.btn
    font: inherit
    cursor: pointer
    border: none
    display: inline-block
    margin: 0
    line-height: 1
    padding: 0.5em

.btn,
.btn:hover
    text-decoration:none

.btn-small
    font-size: .75em

.btn-large
    font-size:1.50em

.btn-full
    display:block
    text-align:center
    padding-right:0
    padding-left: 0
    width:100%
