//--> Grid Object, make sure to pair the class="col" with the responsive widths built in the overrides/widths

//--> Row container block, use .block class on any grid row container.

.grid
	margin:0
	list-style:none
	@extend .cf

.grid .grid
	margin: 0px (-($gutterwidth))


//-->  Global Column Class for the grid. Each column in the grid will need to be prefaced with class = "col"

.col
	float:left
	padding:0 $gutterwidth

.grid-rev
	.col
		float:right



