//--> Media image

.media
    display:block
    @extend .cf

    .media-img
        float:left
        margin-right:$base-spacing
    
    // revearse image
    .media-img-rev
        float:right
        margin-left:$base-spacing
    

        .media-img img,
        .media-img-rev img
            display:block
        

    .media-body
        overflow:hidden
    
        .media-body,
        .media-body > :last-child
            margin-bottom:0
    