.pagination
    text-align:center
    letter-spacing:-0.31em
    word-spacing:-0.43em

.pagination > li
    padding:unit(($base-spacing / 2), px)
    letter-spacing:normal
    word-spacing:normal

.pagination > li > a
    padding:unit(($base-spacing / 2), px)
    margin:unit(($base-spacing / 2), px) * -1

.pagination-first a:before
    content:"« "

.pagination-last a:after
    content:" »"
            