
/*------------------------------------*\
    !-PANEL NAV
\*------------------------------------*/
/**
 * Panel Nav to pull up a pannel nav form all directions, top, left, right, bottom.
 *
 */


$slidewidth = 240px

.c-body
	background: #fff
	transform(translateX(0))
	transition: transform 0.2s ease-in-out
	-webkit-transition: -webkit-transform 0.2s ease-in-out
	-moz-transition: -moz-transform 0.2s ease-in-out
	-o-transition: -o-transform 0.2s ease-in-out
	-ms-transition: -ms-transform 0.2s ease-in-out
	z-index: 1

.c-body, .r-panel, .l-panel
	-webkit-backface-visibility: hidden;


/**
 * Right Panel
 *
 */	

 .r-panel
	background-color: #333
	min-height: 100%
	right: 0
	top: 0
	position: fixed
	visibility: hidden
	z-index: -1
	transition-short(z-index 0s linear .2s)
	width:$slidewidth;


.c-body.slide-l
	transform(translateX(-240px))
	min-width: 320px

.r-panel.slide-l
	height: 100%
	visibility: visible
	z-index: 1
	transition-short(z-index 0s linear .2s)


 /**
 * Left Panel
 *
 */

 .l-panel
	background-color: #333
	min-height: 100%
	left: 0
	top: 0
	position: fixed
	visibility: hidden
	z-index: -1
	transition-short(visibility 0s linear .2s)
	width:$slidewidth;

.c-body.slide-r
	transform(translateX(240px))
	min-width: 320px

.l-panel.slide-r
	height: 100%
	visibility: visible
	z-index: 1
	transition-short(z-index 0s linear .2s)

 /**
 * Top Panel
 *
 */

.t-panel
	position: fixed
	z-index:-2
	background-color: rgba(0, 0, 0, 0.8)
	top: 0
	left: 0
	//height: 100%
	width: 100%
	visibility: hidden
	text-align: center
	transition-short(z-index 0s linear .1s)

.t-panel.show
	z-index: 1

.t-search.slide-down
	transform(translateY(0px))


 /**
 * Bottom Panel
 *
 */
.b-panel
	position: fixed
	z-index: -2
	background-color: rgba(0, 0, 0, 0.8)
	top: 0
	left: 0
	visibility: hidden
	//height: 100%
	width: 100%
	transition-short(z-index 0s linear .2s)

.b-panel.show
	z-index: 1

.b-buttons
	position: absolute
	text-align: center
	width: 100%
	height: 225px
	bottom: 0
	left: 0
	padding: $half-spacing
	background-color: #fff
	transform(translateY(225px))
	transition: transform 0.3s ease-in-out
	-webkit-transition: -webkit-transform 0.3s ease-in-out
	-moz-transition: -moz-transform 0.3s ease-in-out
	-o-transition: -o-transform 0.3s ease-in-out
	-ms-transition: -ms-transform 0.3s ease-in-out

.b-buttons.slide-up
	transform(translateY(0px))