/*

Where `margin-bottom` is concerned, this value will be the same as the
base line-height. This allows us to keep a consistent vertical rhythm.
As per: csswizardry.com/2012/06/single-direction-margin-declarations
 
 */

//--> Base elements

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,blockquote,p,address,table,fieldset,figure,
pre,
.media
    margin-bottom:$base-spacing
    margin-bottom:unit(($base-spacing / $base-font-size) * 1, rem)
    
     
//--> Doubled up `margin-bottom` helper class.

.landmark
    margin-bottom:2 * $base-spacing
    margin-bottom:unit((2 * $base-spacing / $base-font-size) * 1, rem)

//--> hr elements
hr
    margin-bottom:$base-spacing - 2px
    margin-bottom:unit((($base-spacing - 2px) / $base-font-size) * 1, rem)


//--> indent certain elements by a consistent amount.
ul,ol,dd
    margin-left:2 * $base-spacing
    margin-left:unit((2 * $base-spacing / $base-font-size) * 1, rem)
