//--> Apply Borderbox
if $border-box == true
  *
    &,
    &:before,
    &:after
      vendor(box-sizing, border-box)

//--> Set padding and margin to zero
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr
    margin:0
    padding:0


//--> help cursor
abbr[title],dfn[title]
    cursor:help


//--> remove underlines on everything
a,u,ins
    text-decoration:none


//--> Apply an underline with a bottom border.
ins
    border-bottom:1px solid

//--> So that `alt` text is visually offset if images don’t load.
img
    font-style:italic


//--> Form Element cursor interactions.
 
label,
input,
textarea,
button,
select,
option
    cursor:pointer

input[type]:active,
input[type]:focus,
textarea:active,
textarea:focus
    cursor:text
    outline:none
    