/*------------------------------------*\
    !-DEBUG
\*------------------------------------*/

if $debug-mode
	.col
		background: #efefef
		border:1px solid #ccc
		margin-bottom:unit($base-spacing-unit, px)

	.col .col
		margin-bottom:0